.auth-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
      background-size: cover;
      height: 100%;
  }
.invalid-pass{
  color:red;
  font-size: 17px;
}