button{
    border-radius: 15px;
}

.but-row{
    display: flex;
    margin: auto;
    gap: 10px;
}

.mat-toolbar.mat-custom{
    background: linear-gradient(
      to right,
      #5f98ee,
      #20EB9A);
}