<h2>Atualização de dados</h2>
<p>Mantenha em branco caso não queira atualizar um dado.</p>

<div class="auth-style">
    <mat-form-field>
        <mat-label>ID do projeto</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Membros</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Orientador</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="voltar()">Salvar</button>
</div>

