<body>
  <div id="adm">Ola, admin!
  <div class="but-row">
    <button mat-raised-button>Criar projeto</button>
    <button mat-raised-button>Importar planilha</button>
  </div>
  </div>
  <div id="projetos">Projetos cadastrados</div>
  <mat-accordion>
    <div id="dados">
      <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ID - Titulo Projeto
          </mat-panel-title>
        </mat-expansion-panel-header>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Membros
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>Nome Membro</li>
          <li>Nome Membro</li>
          <li>Nome Membro</li>
          <li>Nome Membro</li>
        </ul>
      </mat-expansion-panel>
      <p></p>
      <p>Orientador:</p>
      <p>Status:</p>
      <button mat-raised-button color="primary" (click)="updateData()">Atualizar dados</button>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</body>